<div>
    <button mat-button color="primary" [routerLink]="['/create']">Add Medicine</button>


    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Medicine Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element?.brand}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element?.price}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element?.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="expiry">
            <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
            <td mat-cell *matCellDef="let element"> {{element?.expiry | date}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> Notes </th>
            <td mat-cell *matCellDef="let element"> {{element?.notes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>